/*--------------------- Project :; Wellesley---------------------*/
/*--------------------- Designer Aman Sharma---------------------*/

/*fonts*/
@font-face {
    font-family: Gotham-Medium;
    src: url(fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: Clarendon-Bold;
    src: url(fonts/Clarendon-Bold.ttf);
}


/*General CSS*/
*{
	outline: 0;
}
body{
	font-family: Clarendon-Bold;
	padding: 0;
	margin: 0;
	background-color: #fff;
	display: block;
	font-weight: normal;
}
img{
	object-fit: cover;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a,
a:hover,
a:focus{
	text-decoration: none;
}

p, span, a{
	font-size: 14px;
	font-weight: normal;
}

section {
    clear: both;
    float: left;
    width: 100%;
}

button{
	background: none;
}

.button{
	color: #ff0000;
	padding :10px 15px;
	border: 1px solid #ff0000;
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	transition: all .3s ease-out;
}
.button:hover{
	background-color: #ff0000;
	color: #fff;
}

header{
	padding: 20px 0;
	position: relative;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	padding-left: 15px;
}
.nav-buttons{
	display: inline-block;
	float: right;
	vertical-align: middle;
	top: 15px;
	position: relative;
}
.nav-buttons ul li{
	display: inline-block;
	text-align: center;
	padding: 0 15px;
}
.nav-buttons ul li i{
	display: block;
	font-size: 30px;
}
.fa-exclamation{
	color: #002772;
}
.fa-search{
	color: #0044a6;
}
.fa-bars,
.fa-times{
	color: #ff0000;
}

.sidenav {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #111;
    display: none;
}

.hero-inner{
	position: relative;
}
.hero-content{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-image: url('../img/TextureBG_HiRes.jpg');
	background-size: cover;
	padding: 15px ; 
}
.hero-content h2{
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	border-top: 3px solid #ff0000;
	border-bottom: 3px solid #ff0000;
	display: inline-block;
	padding: 10px 0;
	margin: 0;
}
.hero-content h2 span{
	color: #ff0000;
	font-size: inherit;
}
.discover{
	text-align: center;
}
.discover span{
	display: block;
	color: #0044a6;
}
.discover i{
	font-size: 70px;
	color: #0044a6;
}
.saying{
	padding-top: 100px ;
}
.saying-inner{
	position: relative;
	margin: auto;
	width: 65%;
}
.saying-inner img{
	height: 175px;
	width: 175px;
}
.saying-inner h4{
	color: #0044a6;
	margin: 0;
	line-height: 1.5;
}
.saying-inner p{
	margin: 15px 0;
}

.saying-content{
	position: relative;
}
.saying-content:before,
.saying-content:after{
	position: absolute;
	font-family: fontawesome;
	color: #ff0000;
	font-size: 30px;
}
/*.saying-content:before{
	content: '\f101';
}
.saying-content:after{
	content: '\f10e';
}*/
.featured-blocks{
	padding-top: 100px;
}
.block-list{
	position: relative;
	padding: 0;
	height: 350px;
}
.block-list:nth-child(2){
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.block-list img{
	height: 100%;
}
.block-list .text{
	position: absolute;
	top: 0;
	right: 0;
}
.block-list .text .button{
	border-color: #fff;
	color: #fff;
}
.block-list:hover .text .button{
	padding: 15px 20px;
}

.testimonials-wrapper{
	padding: 50px 0;
	background-image: url('../img/TextureBG_HiRes.jpg');
	background-size: contain;
}
.testimonials-wrapper .carousel-inner{
	margin: auto;
	width: 500px;
}
.testimonials-wrapper .item{
	color: #fff;
}
.testimonials-wrapper .item h4{
	font-size: 20px;
	line-height: 1.4;
}
.testimonials-wrapper .item p{
	padding: 15px 0;
}
.testimonials-wrapper .nav-wrapper{
	float: right;
	width: auto;
}
.testimonials-wrapper .nav-wrapper .carousel-control{
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	opacity: 1;
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	background: #fff !important;
	color: #333 !important;
	margin: 0 -2px;
	transition: all .3s ease-out;
}
.testimonials-wrapper .nav-wrapper .carousel-control:hover{
	color: #fff !important;
	background: #0044a6 !important;
}
.testimonials-wrapper .nav-wrapper .carousel-control .fa{
	position: relative;
	top:20%;
}
.testimonials-wrapper .carousel-indicators{
	position: relative;
	left: 0;
	bottom: 0;
	width: auto;
	margin: 0;
	text-align: left;
	display: inline-block;
}
.testimonials-wrapper .carousel-indicators li{
	border-radius: 0;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	margin: 0 5px;
}
.testimonials-wrapper .carousel-indicators li.active{
	background-color: #0044a6;
	border-color: #0044a6;
}
.two-blocks-wrapper{
	/*position: relative;*/
}
.two-blocks-wrapper .two-blocks{
	width: 50%;
	float: left;
	display: inline-block;
	height: 500px;
}
.two-blocks-wrapper .two-blocks img{
	width: 100%;
	height: 100%;
	position: relative;
}
.two-blocks-wrapper .two-blocks a{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}
.two-blocks-wrapper .two-blocks .two-blocks-content{
	position: absolute;
	bottom: 0;
	width: 240px;
	border: 1px solid #fff;
	color: #fff;
	border-bottom: none;
	padding: 20px;
}
.two-blocks-wrapper .two-blocks:nth-child(1) .two-blocks-content{
	right: 0;
	border-right: none;

}
.two-blocks-wrapper .two-blocks .two-blocks-content p{
	font-weight: bold;
	margin: 0;
}
.two-blocks-wrapper .two-blocks .two-blocks-content h3,
.two-blocks-wrapper .two-blocks .two-blocks-content h3 span{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
}
.two-blocks-wrapper .two-blocks .two-blocks-content h3 span{
	display: block;
}
.follow-us-wrapper{
	margin-top: 100px;
	clear: both;
}
.follow-us{
	background-color: #e6ffff;
	padding: 50px 0;
	text-align: center;
	color: #002772;
}
.follow-us p{
	margin: 20px 0;
}

.social-links{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-image: url('../img/TextureBG_HiRes.jpg');
	margin: 0 10px;
}
.social-links i{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
}
footer{
	background-color: #002772;
	float: left;
	width: 100%;
	clear: both;
	margin-top: 100px;
}
.footer-first{
	padding: 50px 0;
	float: left;
	width: 100%;
	clear: both;
}
.footer-logo img{
	width: 160px;
}
.footer-widget{
	color: #fff;
}
.footer-widget h5{
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
}
.footer-widget p,
.footer-widget a{
	font-size: 11px;
	color: #fff;
}
.footer-widget a{
	text-decoration: underline;
}
.footer-widget .footer-info{
	margin-bottom: 20px;
}
.footer-social{
	width: 30px;
	height: 30px;
	background: #fff;
	margin-right: 10px;
	border-radius: 50%;
	display: inline-block;
}
.footer-social a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	color: #002772;
	text-decoration: none;
	font-size: 20px;
	padding: 1px;
	text-align: center;
}
.footer-links li a{
	text-decoration: none;
}
.footer-second{
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}
.footer-second p{
	font-size: 11px;
	margin: 0;
}
.newslette-wrapper{
	margin-top: 100px;
}
.newslette-wrapper form .form-control{
	width: 50%;
	float: left;
	display: inline-block;
	border: none;
	text-align: center;
	box-shadow: none;
	padding: 0;
}
.newslette-wrapper form .form-control input{
	width: 100%;
	text-align: center;
	border-radius: 0;
	border: 1px solid #0044a6;
	color: #0044a6;
	height: 48px;
	font-size: 20px;
}
.newslette-wrapper form .form-control:nth-child(2) input{
	color: #fff;
	background-color: #0044a6;
}
.newslette-text p{
	color: #002772;
	font-weight: bold;
}
.newslette-text h3{
	color: #0044a6;
	font-size: 20px;
	margin-top: 10px;
}